body {
  background-image: url(fruits.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.App {
  background-color: lightyellow;
  border-radius: 5px;
  opacity: 0.9;
  margin: 40px auto;
  min-height: 500px;
  width: 400px;
}
#to-do-form h1{
  color: brown;
  font-weight: bold;
  font-family: monospace;
  padding-top: 20px;
  text-align: center;
}
#to-do-form input{
  margin: 30px;
  padding: 0 10px;
  background-color: #FFE133;
  color: brown;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
  border: 0px;
  width: 230px;
  height: 50px;
}
#to-do-form button {
  background-color: #FFE133;
  cursor: pointer;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
  color: brown;
  margin: 5px;
  border-radius: 5px;
  border: 0px;
  height: 30px;
  width: 50px;
}
@media only screen and (max-width: 576px) {
  body {
    background-image: url(fruits.jpg);
    background-size: auto;
  }
}
@media only screen and (max-width: 992px) {
  body {
    background-image: url(fruits.jpg);
    background-size: auto;
  }
}
