.list{
  color: brown;
  background-color: transparent;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  width: 320px;
  margin: 20px;
  border-radius: 3px;
  border-bottom-style:solid;
}
.list p{
  padding: 5px;
  position: relative;
}
.list p span{
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.faicons{
  margin: 0 5px;
  font-size: 15px;
}
